<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a href="/" class="site_title">
        <i class="fa fa-cogs"></i>
        <span>Dana</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-tachometer"></i>ROCm-Nightly<span
                class="fa fa-chevron-down"
              ></span>
            </a>
            <ul class="nav child_menu">
              <li>
                <a href="/ROCm-Nightly/statusOverall"> Overall status </a>
              </li>
              <li>
                <a href="/ROCm-Nightly/statusTests"> Tests status </a>
              </li>
              <li>
                <a href="/ROCm-Nightly/statusSeries"> AMDs status </a>
              </li>
              <!-- <li>
                <a href="/ROCm-Nightly/showGraphs"> Show graphs </a>
              </li> -->
              <li>
                <a href="/dailyReports/ROCm-Nightly.html">
                  Last daily report emailed
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
